<div class="container">
    <h2>Lista de Artículos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let articulo of articulos">
            <td>{{ articulo.id }}</td>
            <td>{{ articulo.descripcion }}</td>
            <td>{{ articulo.precio }}</td>
            <td>
                <button (click)="seleccionarArticulo(articulo)">Editar</button>
                <button *ngIf="articulo.id !== undefined" (click)="eliminarArticulo(articulo.id!)">Eliminar</button>
            </td>
        </tr>
    </table>

    <!-- Formulario para editar artículos -->
    <div *ngIf="articuloSeleccionado">
        <h3>Editar Artículo</h3>
        <form (ngSubmit)="actualizarArticulo()">
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" [(ngModel)]="descripcion" name="descripcion" required>
            <label for="precio">Precio:</label>
            <input type="number" id="precio" [(ngModel)]="precio" name="precio" required>
            <button type="submit">Actualizar Artículo</button>
        </form>
    </div>
</div>